.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 280px;
  color: white;
  background: @blue;
  .font-bold(21px);
  text-decoration: none;

  :visited,
  :hover,
  :link {
    color: white;
  }
}
