.checkbox {
  position: relative;

  display: flex;
  height: 64px;
  padding-top: 15px;

  line-height: 26px;

  align-items: center;
  text-transform: initial;

  .font-bold(18px);

  &:hover .checkbox__checkmark,
  &:hover .checkbox__checkmark::after {
    .fill-color(#e5e5e5);
  }

  &:active .checkbox__checkmark,
  &:active .checkbox__checkmark::after {
    .fill-color(#d5d5d5);
  }
}

.checkbox__input {
  position: absolute;

  width: 0;
  height: 0;

  opacity: 0;

  cursor: pointer;
}

.checkbox__checkmark {
  display: flex;
  width: 48px;
  height: 48px;
  margin-right: 20px;

  border: 5px solid;
  border-radius: 7px;

  align-items: center;
  justify-content: center;

  .fill-color(#f2f2f2);
}

.checkbox__checkmark::after {
  display: block;
  width: 25px;
  height: 19px;

  content: "";

  .fill-color(#f2f2f2);
}

.checkbox .checkbox__input:checked ~ .checkbox__checkmark::after {
  .fill-color(black);

  background: url("../img/icon-tick.svg");
  background-size: 25px 19px;
}


/**
    tablet
*/
@media (min-width: @tablet-screen) {
  .checkbox {
    width: 258px;
    padding: 0;
  }
}

/**
    tablet
*/
@media (min-width: @desktop-screen) {
  .checkbox {
    width: auto;
    padding: 0;
  }

  .checkbox:last-child .checkbox__checkmark {
    margin-right: 25px;
  }
}
