.features {
  padding-top: 25px;
  padding-bottom: 19px;

  background: white;
}

.features__list {
  margin: 0;
  padding: 0;

  text-align: left;

  list-style: none;
}

.features__item {
  display: flex;
  padding-bottom: 3px;

  flex-direction: row;
}

.features__icon {
  width: 59px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 100%;

  flex-shrink: 0;

  &--hotel {
    background-image: url("../img/icon-house.svg");
    background-size: 37px 36px;
  }

  &--favor {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
  }

  &--burger {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 45px;
  }
}

.features__content {
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 11px;

  br {
    display: none;
  }
}

.features__title {
  color: black;

  .font-bold();
}

.features__text {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;

  line-height: 21px;
  color: #333333;

  .font-regular();
}

/**
    tablet
*/
@media (min-width: @tablet-screen) {
  .features {
    padding: 0;
  }

  .features__list {
    display: flex;

    flex-direction: row;
    min-height: 330px;
  }

  .features__item {
    width: 256px;

    border: none;

    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }

    .features__content {
      width: 165px;
      padding: 0;
      padding-right: 46px;
      padding-left: 46px;

      text-align: center;
    }

    &:nth-child(3) .features__content {
      width: 156px;
    }
  }

  .features__icon {
    height: 80px;
    margin-top: 60px;

    background-repeat: no-repeat;
    background-position: top right;

    flex-shrink: 0;

    &--hotel {
      width: 75px;

      background-size: 75px 75px;
    }

    &--burger {
      width: 77px;

      background-size: 77px 68px;
    }

    &--favor {
      width: 64px;

      background-size: 64px 75px;
    }
  }

  .features__text,
  .features__title {
    padding: 0;
    padding-top: 20px;
  }

  .features__title {
    margin-top: 0;

    font-size: 21px;
  }
}

/**
    desktop
*/
@media (min-width: @desktop-screen) {
  .features__item {
    .features__icon {
      height: 75px;
      margin-top: 60px;

      &--hotel {
        width: 75px;

        background-size: 75px 72px;
      }

      &--burger {
        width: 77px;

        background-size: 77px 68px;
      }

      &--favor {
        width: 64px;

        background-size: 64px 75px;
      }
    }

    .features__title {
      padding: 0;
      padding-top: 24px;
    }

    .features__content {
      width: 300px;
      margin: 0 auto;
      margin-top: 0;
      padding: 0;

      br {
        display: block;
      }
    }
  }
}
