.footer {
  width: 100%;
  height: 233px;
}

.footer__inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__hashtag {
  .font-bold(21px);
  text-align: center;
  padding-right: 2px;
  padding-top: 36px;
  padding-bottom: 22px;
  margin: 0;
}

.footer__copyright {
  padding-top: 26px;
}

.footer__social {
  display: flex;
}

/**
    tablet
*/
@media (min-width: @tablet-screen) {
  .footer {
    height: 120px;
  }

  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
  }

  .footer__hashtag,
  .footer__social,
  .footer__copyright {
    padding: 0;
  }
}

/**
    desktop
*/
@media (min-width: @desktop-screen) {
  .footer__inner {
    margin: 0 120px;
  }
}
