.footer {
  width: 100%;
  height: 233px;
}

.footer__inner {
  display: flex;
  height: 100%;

  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__hashtag {
  margin: 0;
  padding-top: 36px;
  padding-right: 2px;
  padding-bottom: 22px;

  text-align: center;

  .font-bold(21px);
}

.footer__copyright {
  padding-top: 26px;
}

.footer__social {
  display: flex;
}

/**
    tablet
*/
@media (min-width: @tablet-screen) {
  .footer {
    height: 120px;
  }

  .footer__inner {
    margin: 0 60px;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__hashtag,
  .footer__social,
  .footer__copyright {
    padding: 0;
  }

  .footer__social {
    margin-right: 7px;
  }
}

/**
    desktop
*/
@media (min-width: @desktop-screen) {
  .footer__inner {
    margin: 0 120px;
  }
}
