.intro {
  position: relative;
  display: flex;
  justify-content: center;
  background: url("../img/bg-back-mobile@1x.jpg") center bottom;
  height: 158px;

  .intro__banner {
    margin-top: 51px;
    width: 229px;
    height: 39px;
  }

  &--index-page {
    width: 320px;
    height: 389px;
    background: url("../img/bg-back-mobile@1x.jpg") center top;

    .intro__banner {
      margin-top: 91px;
      width: 281px;
      height: 214px;
    }
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    background: url("../img/bg-intro-triangle-mobile.svg") top center no-repeat;
    height: 26px;
    width: 100%;
  }
}
