.player {
  width: 320px;
  height: 200px + 66;
  padding-bottom: 39px;
  margin: 0 auto;
}

.player__screen {
  min-height: 201px;
  width: 100%;
  background: url("../img/video-mobile@1x.jpg") top left no-repeat;
  background-size: 320px 200px;
}

.player__controls {
  display: flex;
  position: relative;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  background: #f2f2f2;
}

.player__progress-bar {
  position: absolute;
  top: -45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
  width: 280px;

  &::before {
    position: absolute;
    content: "";
    top: 22px;
    left: 23px;
    width: 235px;
    height: 3px;
    background: white;
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: 58px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
  }
}

.player__button {
  border: none;
  background: #f2f2f2;
  outline: none;

  .player__icon {
    .svg-fill(#5c6870);
  }

  &:hover .player__icon {
    .svg-fill(black);
  }

  &:active .player__icon {
    .svg-fill(#333333);
    opacity: 0.3;
  }
}

.player__button--replay {
  width: 25px * 2 + 16;
  margin-right: auto;
  background-size: 16px 25px;
}

.player__button--subtitle {
  width: 48px;
  background-size: 32px 20px;
}

.player__button--fullscreen {
  width: 25px * 2 + 16;
  background-size: 20px 20px;
}

/**
    tablet
*/
@media (min-width: @tablet-screen) {
  .player {
    position: relative;
    width: 648px;
    height: 499px + 41;
    padding: 0 60px;
    margin: 0 auto;
    margin-bottom: 41px;

    .player__button {
      background: transparent;
      .svg-fill(white);

      &--replay {
        order: -1;
        margin: 0;
      }
    }
  }

  .player__screen {
    width: 100%;
    height: 499px;
    background: url("../img/video-tablet@1x.jpg") top left no-repeat;
    background-size: 648px 499px;
  }

  .player__controls {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 648px;
    height: 93px;
    bottom: 41px;
    left: 60px;
    background: rgba(0, 0, 0, 0.6);
  }

  .player__progress-bar {
    width: 389px;
    position: relative;
    top: 2px;
    height: 10px;
    background: transparent;

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: white;
      opacity: 0.3;
    }

    &::after {
      top: -3px;
      left: 115px;
      width: 9px;
      height: 9px;
    }
  }
}
