.reasons {
  position: relative;
  text-align: center;
}

.reasons__inner {
  overflow: auto;
}

.reasons__item {
  background-color: @blue;
  color: white;

  &:first-child::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    background: url("../img/bg-triangle.svg") top center no-repeat;
    height: 37px;
    width: 100%;
    background-size: 100% 100%;
  }

  &:first-child .reasons__content {
    margin-top: 73px;
  }
}

@m-top: 35px;
@m-bottom: 35px;
@reasons-content-height: 212px - @m-top - @m-bottom - 20;

.reasons__content {
  height: @reasons-content-height;
  margin-top: @m-top;
  margin-right: 27px;
  margin-bottom: @m-bottom;
  margin-left: 28px;
  line-height: 21px;
}

.reasons__item:nth-child(2) .reasons__content {
  height: @reasons-content-height - 1;
}

.reasons__title {
  .font-bold();
  padding-top: 4px;
  margin-bottom: 7px;
}

.reasons__text {
  margin-top: 17px;
}

.reasons__number::before,
.reasons__number::after {
  content: " ‒ ";
  letter-spacing: 0;
}

.reasons__photo,
.reasons__photo img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.reasons__item--grey {
  background-color: #e5e5e5;
  color: black;

  &:not(:last-child)::after {
    display: block;
    content: "";
    height: 1px;
    background-color: #d6d6d6;
    margin: 0 auto;
  }
}

@m-top-grey: 23px;
@m-bottom-grey: 22px;

.reasons__item--grey .reasons__content {
  margin-top: @m-top-grey;
  margin-right: 27px;
  margin-bottom: @m-bottom-grey;
  margin-left: 28px;
  line-height: 21px;
  padding-left: 5px;
  padding-right: 5px;
}

.reasons__item--grey .reasons__title {
  margin-bottom: 9px;
}

.reasons__item--grey .reasons__text {
  margin-top: 15px;
}

/**
    tablet
*/
@media (min-width: @tablet-screen) {
  .reasons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reasons__item {
    display: flex;
    flex-direction: column;
    width: @tablet-screen;

    &:first-child::before {
      display: none;
    }

    .reasons__content {
      width: 256px;
      margin: 0;
    }

    .reasons__photo {
      width: 256px * 2;
    }

    .reasons__photo img {
      width: 256px * 2;
      height: 256px;
    }

    &:nth-child(2) {
      .reasons__content {
        order: 2;
      }

      .reasons__photo {
        order: 1;
      }
    }

    &--grey {
      width: 256px;
      height: 256px;

      .reasons__inner {
        width: 256px;
      }

      .reasons__title {
        padding-top: 50px;
        font-size: 21px;
      }

      &:not(:last-child)::after {
        content: none;
      }
    }
  }

  .reasons__inner {
    width: @tablet-screen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    widows: 256px * 3;
  }

  .reasons__title,
  .reasons__number,
  .reasons__text {
    padding-left: 47px;
    padding-right: 47px;
  }

  .reasons__item:first-child .reasons__content {
    margin-top: 0;
  }

  .reasons__title {
    padding-top: 46px;
    font-size: 21px;
  }

  .reasons__content {
    min-height: 256px;
    height: 100%;
  }
}
