.common-section {
  background: white;
  height: 221px;
  width: 320px;
  text-align: center;
  padding-left: 32px;
  padding-right: 33px;
  box-sizing: border-box;
}

.common-section__title {
  margin-top: 43px;
  font-size: 18px;
  line-height: 26px;
  font-family: 'PTSans-Bold', sans-serif;
}

.common-section__text{
  margin-bottom: 10px; ;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
