.common-section {
  background: white;
  height: 225px;
  width: 320px;
  padding-left: 32px;
  padding-right: 33px;
  text-align: center;
  box-sizing: border-box;
}

.common-section__title {
  font-size: 18px;
  line-height: 25px;
  padding-top: 26px;
  padding-bottom: 12px;
  .font-bold();
}

.common-section__text{
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
