.intro {
  position: relative;
  display: flex;
  width: 320px;
  height: 390px;
  background: url('../img/bg-back-mobile@1x.jpg') center top;
  justify-content: center;
  align-items: center;
}

.intro__banner{
  margin-top: 10px;
  width: 281px;
  height: 214px;
}

.intro{
  padding: 0;
}
